@model IEnumerable<OnlineExamPrepration.Models.QuizViewModel>
@{
    ViewData["Title"] = "Gate Quiz";
}
<div class="container">
    <h1 style="display: inline-block">MOCK QUIZ</h1>
    <a class="btn btn-dark mt-4 m-1" asp-area="" asp-controller="Quiz" asp-action="AddQuiz" Style="float: right">
        ADD QUIZ
    </a>
    <a class="btn btn-dark mt-4 m-1" asp-area="" asp-controller="Quiz" asp-action="UpdateQuiz" Style="float: right">
        UPDATE QUIZ
    </a>
    <hr />

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a class="btn btn-success mx-3 btn-lg" asp-controller="Quiz" asp-action="GATE" Style="color: white" asp-route-Level="Easy"> EASY</a>
        <a class="btn btn-warning mx-3 btn-lg" asp-controller="Quiz" asp-action="GATE" Style="color: white" asp-route-Level="Medium"> MEDIUM</a>
        <a class="btn btn-danger mx-3 btn-lg" asp-controller="Quiz" asp-action="GATE" Style="color: white" asp-route-Level="Hard"> HARD</a>
    </div>
    <hr />
    <form asp-controller="Quiz" asp-action="Validate">
        <input type="hidden" value=@Model.ElementAt(0).Level name="Level" />
        <input type="hidden" value=@Model.ElementAt(0).Exam name="Exam" />
        <ItemTemplate>
            <table class="table table-bordered table-sm my-2">
                <tbody>
                    @foreach (var quiz in Model)
                    {
                        <tr>
                            <td colspan="2">
                                <div class="py-2 h5"><b> @quiz.Question</b></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top">
                                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3 choice">
                                    <label class="options">
                                        <input name=@quiz.Id type="radio" value="@quiz.OptionA">&nbsp;&nbsp;@quiz.OptionA
                                    </label><br />
                                    <label class="options">
                                        <input name=@quiz.Id type="radio" value="@quiz.OptionB">&nbsp;&nbsp;@quiz.OptionB
                                    </label><br />
                                    <label class="options">
                                        <input name=@quiz.Id type="radio" value="@quiz.OptionC">&nbsp;&nbsp;@quiz.OptionC
                                    </label><br />
                                    <label class="options">
                                        <input name=@quiz.Id type="radio" value="@quiz.OptionD">&nbsp;&nbsp;@quiz.OptionD
                                    </label>
                                </div>
                                <br />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </ItemTemplate>
        <input id="Submit" type="submit" value="Submit" class="btn btn-success" />
    </form>
</div>
